/* Font styles section */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colors section */

.primary-color{
    color: #FD6E0A;
}

.secondary-color{
    background-color: #FFF8F3;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

/* shared styles section*/

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* header section styles */

.header{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px center, right bottom;
}
/* navbar section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.logo{
    font-size: 2.8125rem;
    font-weight: 900;
}

.nav-items{
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-item{
    list-style: none;
}

.nav-links{
    text-decoration: none;
    font-size: 1.25rem;
}

/* banner section styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
}


.banner-greeting{
    font-size: 2.8125rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title{
    font-size: 5.3125rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1.125rem;
    margin-top: 20px;
    margin-bottom: 30px;

}

.banner-content{
    max-width: 50%;
}

.banner-img{
    margin-right: -192px;
}

.banner-links{
    margin-right: 30px;
}

.contact{
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background-color: transparent;
}

/* about-me section styles */

.about-me-container{
    margin-top: 130px;
    margin-bottom: 130px;
    padding: 131px 156px;
    border-radius: 10px;
}
.about-me-content{
    text-align: center;
    border: 1px solid;
    background-color: white;
}

.about-me-title{
    font-size: 2.1875rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0;
}

.about-me-description{
    font-size: 1.125rem;
    margin-bottom: 30px;
    line-height: 1.875rem;
}

.about-title{
    font-size: 1.125rem;
    margin-bottom: 5px;
}

.about-info{

    margin-bottom: -15px;
}
.about-subtitle{
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 5px;
}

.about-information{
    display: flex;
    justify-content: space-between;
    padding: 0 22.5px;
}

/* what-i-do section styles */

.what-i-do{
    margin-bottom: 130px;
}
.wid-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.wid-description{
    font-size: 1.125rem;
    text-align: center;
    max-width: 910px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skills{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill{
    box-shadow: 5px 5px 10px #757575;
    padding: 30px;
    border-radius: 5px;
    flex: 1;
}

.skill-title{
    font-size: 1.25rem;
    font-weight: 700;
}

/* resume section styles */

.resume-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 113px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.resume-container > div{
    flex: 1;
}

.summary-btn{
    text-align: center;
    margin-top: 50px;
}

.edu-title, .exp-title{
    font-size: 1.875rem;
    font-weight: 700;
}

.ec-title, .ex-title{
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.ec-subtitle, .ex-subtitle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.ec-description, .ex-description{
    margin-top: 20px;
}

/* footer section styles */

.footer{
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 230px;
    margin-top: 113px;
    display: flex;
    align-items: start;
    gap: 117px;
}

.footer > div{
    flex: 1;
}


.connect-title, .form-title{
    font-size: 2rem;
    font-weight: 700;
}

.connect-title{
    margin-bottom: 20px;
}

.connect-description{
    margin-bottom: 30px;
}

.connect-links{
    margin-right: 24px;
}

.form-items{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 28px;
}

.form-items input[type="text"], input[type="email"], textarea{
    height: 64px;
    padding-left: 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}
textarea{
    padding-top: 18px;
    height: 180px;
    font-size: 1.125rem;
}

/* responsive section */

@media screen and (max-width:576px){
    .navbar, .nav-items{
        flex-direction: column;
    }
}